
@font-face {
    font-family: 'Avenir LT Std';
    src: url('../fontsAvenirLTStd-Black.woff2') format('woff2'),
        url('../fontsAvenirLTStd-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('../fontsAvenirLTStd-Book.woff2') format('woff2'),
        url('../fontsAvenirLTStd-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('../fontsAvenirLTStd-Roman.woff2') format('woff2'),
        url('../fontsAvenirLTStd-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}